.card {
  font-family: 'Montserrat';
  height: 22em;
  width: 15em;
  font-size: 1.5em;
  color: var(--white-100);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 5em -1em black;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;

  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%);
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, var(--primary-100), var(--red-100) 99%, transparent);
}

.card.loading {
  pointer-events: none;
}

.thumbnail {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-300);
}

.card:hover {
  transform: rotate(0);
  border: solid 8px transparent;
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;

  animation: bg-spin 5s linear infinite;
}

.card:hover .thumbnail {
  transform: translateY(-100%);
}

.info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  min-height: 45%;
}

.card:hover .info {
  height: calc(100% - 2rem);
  justify-content: flex-start;
}

.card .title {
  margin: 0;
  font-size: 1.3em;
  line-height: 1.1em;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}

.card .description {
  font-size: 0.75em;
  margin-top: 0.5em;
  line-height: 1.2em;
  display: none;
}

.card:hover .description {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.card .footer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
}

.card .actions {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.card .actions .shareButton {
  position: relative;
}

.card .actions .shareButton:hover>svg {
  fill: var(--accent-100)
}


.card:hover .actions .shareButton {
  display: block;
}

.card .footer .tag {
  font-size: 0.75em;
  color: var(--astronaut-100);
  font-weight: 600;
  background: var(--gray-300);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(0.5s);
}

.card:hover .footer .tag {
  background: var(--accent-100);
  color: var(--white-100);
}

.card .headerInfo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: 0.5em;
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .author {
  background: var(--astronaut-100);
  color: var(--white-100);
  font-size: 0.75em;
  font-weight: 600;
  visibility: hidden;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}


.card:hover .author {
  visibility: visible;
}

.card .date {
  font-size: 0.75em;
  padding: 0.5em;
  line-height: 1em;
  background: var(--white-100);
  color: var(--black-100);
  border-radius: 0.3em;
}

.card:hover .date {
  background: var(--astronaut-100);
  color: var(--white-100);
}

.card:before,
.card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(0.5s);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: var(--gray-100);
  width: 250%;
  height: 250%;
}

.card:after {
  background: var(--white-100);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--astronaut-100);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}