.wrapper {
    padding: 0 2rem;
    margin: 0 2rem;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    height: calc(100vh - 18rem);
    overflow-y: auto;
}

.posts::-webkit-scrollbar {
    width: 0.75rem;
}

.posts::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.45rem;
}

.posts {
    scrollbar-width: medium;
    scrollbar-color: #ffffff transparent;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 1rem;
        margin: 0 1rem;
    }

    .posts {
        height: fit-content;
        justify-content: center;
    }
}