.toast {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    animation: floatUp 0.5s ease-in-out forwards;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.info {
    background-color: #0070f3;
}

.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}

@media screen and (max-width: 425px) {
    .toast {
        width: calc(100vw - 1rem);
    }
    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 2rem);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}